<div class="pie row">

    <div class="col-md-4">
        <h5>Redes Sociales</h5>
        <ul>
            <li> <a href="https://facebook.com" target="_blank"> Facebook</a> </li>
            <li>Instagram</li>
            <li>TikTok</li>
        </ul>
    </div>



    <div class="col-md-4">
        <h5>Teléfonos</h5>
        <ol>
            <li>09 997223944</li>
            <li>02 26774491</li>
            <li>(+593) 99755823</li>
        </ol>

    </div>



    <div class="col-md-4">
        <h5>Ubicación</h5>
        <p>Av. Amazonas y Colón</p>
    </div>

    <div>
        <h4>Creado por {{ creador.nombre }} {{creador.apellido}}</h4>
        <h3>Sitio desarrollado en: {{ creador.lenguajes[0] }} </h3>
    </div>


</div>